---
http_interactions:
- request:
    method: post
    uri: https://ssl.reddit.com/api/login
    body:
      encoding: UTF-8
      string: api_type=json&passwd=<PASSWORD>&user=imdbot
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"json": {"errors": [], "data": {"modhash": "l9wr89wcy8b80470bde0fcf54424631b4b92c6d1fa3e877634",
        "cookie": "25184710,2014-02-05T07:06:08,08e26138eaad404234125236dcdab542f777433f"}}}'
  recorded_at: Wed, 05 Feb 2014 15:06:09 GMT
- request:
    method: get
    uri: http://www.reddit.com/user/imdbot/about.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - l9wr89wcy8b80470bde0fcf54424631b4b92c6d1fa3e877634
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "t2", "data": {"has_mail": false, "name": "imdbot", "is_friend":
        false, "created": 1390814327.0, "modhash": "h7t97jvzyfbbac58949e75de5b84c42f09042695ed79a5d4a3",
        "created_utc": 1390785527.0, "link_karma": 1, "comment_karma": -1, "over_18":
        false, "is_gold": false, "is_mod": false, "has_verified_email": false, "id":
        "ezsna", "has_mod_mail": false}}'
  recorded_at: Wed, 05 Feb 2014 15:06:09 GMT
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?id=t3_1wdeb1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Modhash:
      - l9wr89wcy8b80470bde0fcf54424631b4b92c6d1fa3e877634
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind": "Listing", "data": {"modhash": "6dnue6pz3sa556c638a77705cbd3e3896360bc4d4f2c2d4d6c",
        "children": [{"kind": "t3", "data": {"domain": "youtube.com", "banned_by":
        null, "media_embed": {"content": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FDfiP915CfiM%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DDfiP915CfiM&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDfiP915CfiM%2Fhqdefault.jpg&amp;key=522baf40bd3911e08d854040d3dc5c07&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 338}, "subreddit": "movies", "selftext_html":
        null, "selftext": "", "likes": null, "secure_media": {"type": "youtube.com",
        "oembed": {"provider_url": "http://www.youtube.com/", "description": "CONAN
        Highlight: Attention J.J. Abrams: nobody can pull off a dying tauntaun &amp;
        Jabba like Bill Hader can. More CONAN @ http://teamcoco.com/video Team Coco
        is the official YouTube channel of late night host Conan O''Brien, CONAN on
        TBS &amp; TeamCoco.com.", "title": "Bill Hader''s Killer \"Star Wars\" Impressions",
        "url": "http://www.youtube.com/watch?v=DfiP915CfiM", "type": "video", "author_name":
        "Team Coco", "height": 338, "width": 600, "html": "&lt;iframe class=\"embedly-embed\"
        src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FDfiP915CfiM%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DDfiP915CfiM&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDfiP915CfiM%2Fhqdefault.jpg&amp;key=522baf40bd3911e08d854040d3dc5c07&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "https://i.embed.ly/1/image?url=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDfiP915CfiM%2Fhqdefault.jpg&amp;key=b1e305db91cf4aa5a86b732cc9fffceb",
        "thumbnail_height": 360, "author_url": "http://www.youtube.com/user/teamcoco"}},
        "link_flair_text": "", "id": "1wdeb1", "secure_media_embed": {"content": "&lt;iframe
        class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FDfiP915CfiM%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DDfiP915CfiM&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDfiP915CfiM%2Fhqdefault.jpg&amp;key=522baf40bd3911e08d854040d3dc5c07&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "width": 600, "scrolling": false, "height": 338}, "clicked": false, "stickied":
        false, "author": "powerzjim", "media": {"type": "youtube.com", "oembed": {"provider_url":
        "http://www.youtube.com/", "description": "CONAN Highlight: Attention J.J.
        Abrams: nobody can pull off a dying tauntaun &amp; Jabba like Bill Hader can.
        More CONAN @ http://teamcoco.com/video Team Coco is the official YouTube channel
        of late night host Conan O''Brien, CONAN on TBS &amp; TeamCoco.com.", "title":
        "Bill Hader''s Killer \"Star Wars\" Impressions", "url": "http://www.youtube.com/watch?v=DfiP915CfiM",
        "type": "video", "author_name": "Team Coco", "height": 338, "width": 600,
        "html": "&lt;iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fwww.youtube.com%2Fembed%2FDfiP915CfiM%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DDfiP915CfiM&amp;image=http%3A%2F%2Fi1.ytimg.com%2Fvi%2FDfiP915CfiM%2Fhqdefault.jpg&amp;key=522baf40bd3911e08d854040d3dc5c07&amp;type=text%2Fhtml&amp;schema=youtube\"
        width=\"600\" height=\"338\" scrolling=\"no\" frameborder=\"0\" allowfullscreen&gt;&lt;/iframe&gt;",
        "thumbnail_width": 480, "version": "1.0", "provider_name": "YouTube", "thumbnail_url":
        "http://i1.ytimg.com/vi/DfiP915CfiM/hqdefault.jpg", "thumbnail_height": 360,
        "author_url": "http://www.youtube.com/user/teamcoco"}}, "score": 2853, "approved_by":
        null, "over_18": false, "hidden": false, "thumbnail": "http://d.thumbs.redditmedia.com/zyjTJaEFztDYnu6c.jpg",
        "subreddit_id": "t5_2qh3s", "edited": false, "link_flair_css_class": "media",
        "author_flair_css_class": null, "downs": 11911, "saved": false, "is_self":
        false, "permalink": "/r/movies/comments/1wdeb1/bill_haders_killer_star_wars_impressions_on_conan/",
        "name": "t3_1wdeb1", "created": 1390919827.0, "url": "http://www.youtube.com/watch?v=DfiP915CfiM",
        "author_flair_text": null, "title": "Bill Hader''s killer \"Star Wars\" impressions
        on Conan", "created_utc": 1390919827.0, "ups": 14764, "num_comments": 523,
        "visited": false, "num_reports": null, "distinguished": null}}], "after":
        null, "before": null}}'
  recorded_at: Wed, 05 Feb 2014 15:06:09 GMT
recorded_with: VCR 2.8.0
